/* Reset and base styles */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif; /* Added a default font for improved appearance */
    background-color: #fff;
}

/* Progress bar styles */

.progress-container {
    width: 300px;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    transition: opacity 0.25s ease-out;
}

.progress-bar {
    display: block;
    height: 100%;
    background-color: #6a6a6a;
    width: 0;
    transition: width 0.5s ease;
}

/* Loading text styles */

#loadingText {
    margin-top: 10px;
    color: #6a6a6a;
    transition: opacity 0.25s ease-out;
}

/* Animation for the Flutter view and others */

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
